<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lara Kelley ✨</title>
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>
        <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
	<button hx-get="/health">
	  Check health
	</button>
    </body>
</html>
